[Desktop Entry]
Version=1.0
Type=Application
Name=Postman
Icon=/home/rgt/softwares/Postman/app/resources/app/assets/icon.png
Exec=/home/rgt/softwares/Postman/Postman --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-features=WaylandWindowDecorations %U
Comment=Supercharge your API workflow
OnlyShowIn=Unity;GNOME;
StartupNotify=false
StartupWMClass=Postman
X-UnityGenerated=true
Categories=Development;IDE;
